// http://chir.ag/projects/name-that-color

/******* Grey Scale ****/
@grey: #f6f6f6;
@tiber: #073642;
@tiber1: #002b36;

@brown0: #666;
@brown1: #333;

@lightGreen:#efe;
@green:#393;

@red:#933;
@pink:#fee;
@blue0:#4d90fe;
@blue1:#4787ed;
@blue2:#3079ed;
@blue22:#357ae8;
@blue3:#2f5bb7;
