/****Colors *****/

@yellow: #b58900;
@orange: #cb4b16;
@red: #dc322f;
@magenta: #d33682;
@violet: #6c71c4;
@blue: #268bd2;
@cyan: #2aa198;
//@green: #859900;
@golden: #bca474;
/********** Background *********/

@bgColor0: #002a35;
@bgColor1: #073642;
@bgColor2: #586e75;
@bgColor3: #657b83;
/********** Fonts **********/

@fColor0: #B5C5C5;
@fColor1: #333332;
@fColor2: #839496;
@fColor3: #93a1a1;
@fColor4: #eee8d5;
@fColor5: #fdf6e3;
@hColor: #cb4b16;
@aColor: #2aa198;
/********* Current choices ********/

@fc: rgba(0,
0,
0,
0.8);
//@sfc: rgba(226,0,26,0.6);
@sfc: rgba(0,
0,
0,
.5);
// @sfcDarkBG: #E83165;
@sfcDarkBG: white;
// @fcNavigation: #f2f2f2;
@fcNavigation: #666;
@bgColor: white;
@mainFontFamily: "freight-text-pro",
Georgia,
Cambria,
"Times New Roman",
Times,
serif;
@titleFontFamily: Helvetica; //"jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
@mediumFontFamily: "freight-text-pro",
Georgia,
Cambria,
"Times New Roman",
Times,
serif;
/******* combinations **********/

.markupAnchor {
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 .95em;
}
.fontCombo {
    font-family: @mediumFontFamily;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    // Fontsize Replaced by media queries
    // font-size: 14px;
    line-height: 1.5;
}
/*************** CSS **********/

html,
body {
    .fontCombo;
    width: 100%;
    margin: 0 auto;
    color: @fc;
    background-color: @bgColor;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    text-transform: none;
}
h1 {
    font-size: 2.0em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.0em;
}
blockquote {} hr {
    border: 1px solid @sfc;
}
a {
    transition: all 0.7s ease;
    color: @fc;
}
/********** Menu ************/

#bar {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    -webkit-backface-visibility: hidden;
    transition: all .7s ease;
}
#menuIcon {
    /*    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)80%, rgba(226, 0, 26, 0.6)50%);
    background-repeat: repeat;
    background-size: 2px 6px;
    background-position: 0 24px; */
    
    margin-top: 5px;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    position: fixed;
    cursor: pointer;
    opacity: .8;
}
#menuLogo {
    position: fixed;
    margin-left: 200px;
    img {
        padding: 0px;
        width: 70px;
        display: block;
    }
}
#contentIcon {
    /*    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)80%, rgba(226, 0, 26, 0.6)50%);
    background-repeat: repeat;
    background-size: 2px 6px;
    background-position: 0 24px;
*/
    
    opacity: .8;
    z-index: 20;
    margin-top: 3px;
    margin-left: 10px;
    //    width: 32px;
    height: 32px;
    right: 10px;
    position: fixed;
    cursor: pointer;
}
/****************** Responsive Sidebars ************/

@rsbWidth: 30%;
@lsbWidth: 20%;
@media all and (min-width: 801px) {
    body {
        font-size: 14px;
    }
    #blog {
        font-size: 1.5em;
        width: 75%;
    }
    #rsb {
        width: @rsbWidth;
        right: @rsbWidth*-1;
    }
    .moveContentLeft {
        transform: translate(@rsbWidth*-1, 0);
    }
    // Left Sidebar
    #lsb {
        width: @lsbWidth;
        left: @lsbWidth*-1;
    }
    .moveContentRight {
        transform: translate(@lsbWidth, 0);
    }
}
@media all and (max-width: 800px) and (min-width: 601px) {
    body {
        font-size: 12px;
    }
    #blog {
        font-size: 1.2em;
        width: 85%;
    }
    #rsb {
        width: @rsbWidth;
        right: @rsbWidth*-1;
    }
    .moveContentLeft {
        transform: translate(@rsbWidth*-1, 0);
    }
    // Left Sidebar
    #lsb {
        width: @lsbWidth;
        left: @lsbWidth*-1;
    }
    .moveContentRight {
        transform: translate(@lsbWidth, 0);
    }
}
@media all and (max-width: 600px) and (min-width: 301px) {
    body {
        font-size: 10px;
    }
    #blog {
        font-size: 1em;
        width: 90%;
    }
    #rsb {
        width: @rsbWidth*3;
        right: @rsbWidth*-3;
    }
    .moveContentLeft {
        transform: translate(@rsbWidth*-3, 0);
    }
    // Left Sidebar
    #lsb {
        width: @lsbWidth*2.5;
        left: @lsbWidth*-2.5;
    }
    .moveContentRight {
        transform: translate(@lsbWidth*2.5, 0);
    }
}
@media all and (max-width: 300px) {
    body {
        font-size: 10px;
    }
    #blog {
	font-size:1em;
        width: 95%;
    }
    #rsb {
        width: @rsbWidth*3;
        right: @rsbWidth*-3;
    }
    .moveContentLeft {
        transform: translate(@rsbWidth*-3, 0);
    }
    // Left Sidebar
    #lsb {
        width: @lsbWidth*2.5;
        left: @lsbWidth*-2.5;
    }
    .moveContentRight {
        transform: translate(@lsbWidth*2.5, 0);
    }
}
/************** Right Sidebar ***************/

.moveRSB {
    transform: translate(-100%, 0);
}
#rsb {
    z-index: 30;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    font-size: 1.3em;
    background: #222;
    ul {
        text-align: left;
        padding: 0;
        margin: 5px 0;
        li {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: block;
        }
    }
    -webkit-backface-visibility: hidden;
    transition: transform .7s ease;
}
#rsb li a {
    width: 100%;
    display: inline-block;
    font-size: 1em;
    padding: 10px;
    color: @fcNavigation;
    transition: none;
    text-decoration: none;
}
#rsb a:hover {
    color: @sfcDarkBG;
}
#rsb li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}
#rsb li.selected {
    color: @sfcDarkBG;
    padding-top: 5px;
}
#rsb .toc-h1 {
    font-size: 1em;
    line-height: 1.1em;
}
#rsb .toc-h2 {
    list-style: square;
    font-size: 1em;
    line-height: 1.1em;
    padding-left: 10px;
}
#rsb .toc-h3 {
    font-size: .9em;
    line-height: .9em;
    padding-left: 20px;
    :before {
        content: "-";
        position: relative;
        margin-right: 3px;
    }
}
#rsb .toc-h4 {
    font-size: .8em;
    line-height: 1.1em;
    padding-left: 40px;
    :before {
        content: "-";
        position: relative;
        margin-right: 3px;
    }
}
#rsb .toc-h5 {
    font-size: .7em;
    line-height: 1.1em;
    padding-left: 70px;
    :before {
        content: "-";
        position: relative;
        margin-right: 3px;
    }
}
#rsb .toc-h6 {
    font-size: .6em;
    line-height: 1.1em;
    padding-left: 100px;
    :before {
        content: "-";
        position: relative;
        margin-right: 3px;
    }
}
#rsb .toc-active {
    a {
        color: @sfcDarkBG;
    }
    background-color: rgba(255,
    255,
    255,
    0.05);
}
/************ Left side bar *************/

.moveLSB {
    transform: translate(100%, 0);
}
#lsb {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 99;
    margin-top: 0;
    margin-left: 0;
    font-size: 1.5em;
    font-family: @mediumFontFamily;
    background: #222;
    ul {
        list-style-type: none;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        margin: 10px 0;
        li {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: block;
        }
    }
    -webkit-backface-visibility: hidden;
    transition: transform .7s ease;
}
#lsb span {
    margin-left: 15px;
    color: @fcNavigation;
    font-size: .6em;
}
#lsb img {
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;
}
#lsb li a {
    width: 100%;
    display: inline-block;
    font-size: .9em;
    padding: 10px;
    color: @fcNavigation;
    transition: none;
    text-decoration: none;
    border-left: 3px solid transparent;
}
#lsb a:hover {
    color: @sfcDarkBG;
    border-left: 3px solid @sfcDarkBG;
}
#lsb li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}
#lsb li.selected {
    background-color: rgba(255, 255, 255, 0.05);
    a {
        color: @sfcDarkBG;
        border-left: 3px solid @sfcDarkBG;
    }
}
/************* Content ****************/

#content {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    margin: 0px auto;
    padding-top: 40px;
    width: 100%;
    transition: all .7s ease;
}
#container {
    min-height: 500px;
    width: 80%;
    margin: 0px auto;
    transition: all .7s ease;
}
#footer {
    border-top: 1px solid @sfc;
    width: 100%;
    padding-top: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: .8em;
    display: inline-block;
}
#footer > a {
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 .95em;
}
#headeer {
    position: relative;
}
#headerImgContainer {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
}
#headerImg {
    top: 30px;
    margin: 0px auto;
    max-width: 100% !important;
    max-height: 100% !important;
    display: block;
}
#gradientContainer {
    margin: auto;
    position: relative;
    z-index: 20;
    // The height and width is set using Javascript
    //   height: 100px;
    //   width: 100px;
}
.gradient {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
}
.titleGeneric {
    color: rgba(255, 255, 255, .9);
    font-weight: 600;
    font-family: @titleFontFamily;
    text-transform: uppercase;
}
#title {
    .titleGeneric;
    font-size: 4em;
}
#subtitle {
    .titleGeneric;
    font-size: 2em;
}
#blog {
    margin: 0 auto;
    a {
        .markupAnchor;
    }
    img {
        border-top: 1s solid @sfc;
        padding: 0px;
        margin: 25px auto 25px auto;
        max-width: 100% !important;
        max-height: 100% !important;
        display: block;
    }
}
#post {
    width: 100%;
}
/************* Slider ****************/

#slider {
    width: 100%;
    text-align: center;
    font-size: .9em;
    color: @fc;
    ul {
        padding: 0;
        display: inline-block;
        margin: 0 auto;
        li {
            border-top: 1px solid @sfc;
            display: inline-block;
            margin: 20px 20px 0 20px;
            padding: 20px 10px 10px 10px;
            //width:200px;
            height: 150px;
        }
    }
}
#slider a {
    color: @fc;
    text-decoration: none;
}
#slider a > img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
#slider li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all .5s ease;
}
/*********** code *************/

.gist {
    font-size: 1em;
}
pre.hljs {
    font-size: .7em;
    background: @bgColor1;
}
::selection {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: none;
}